apiVersion: v1
kind: Secret
metadata:
  name: {{ include "sql-exporter.fullname" . }}
  labels:
    app: {{ include "sql-exporter.fullname" . }}
    chart: {{ template "sql-exporter.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    {{- include "sql-exporter.labels" . | nindent 4 }}
type: Opaque
stringData:
  sql_exporter.yml: |-
    {{- include "sql-exporter.expoter" . }} 